header {
  color: #472d30;
  font-family: "Pixelify Sans", cursive;
  text-align: left;
  margin-left: 5%;
  font-size: larger;
}

body {
  margin: 0;
  padding: 0;
  background: #fff0f3;
}

.name {
  width: 100%;
  height: 100%;
  background: #ffc8dd;
  transform: skewY(-4deg);
  display: flex;
}

.name .content {
  width: 100%;
  height: 50%;
  left: 25%;
  flex: 1;
}

.name .content .p-1 {
  color: #472d30;
  font-family: "Scope One", serif;
  font-weight: bolder;
  font-size: 5vw;
  transform: skewY(4deg);
  margin-bottom: 0;
}

.name .content .p-2 {
  color: #472d30;
  font-family: "Scope One", serif;
  font-size: 5vw;
  transform: skewY(4deg);
  margin-top: 0;
  margin-bottom: 2%;
}

.name .img {
  top: 18%;
  right: 5%;
  width: 180px;
  height: 180px;
  border-radius: 100%;
  transform: skewY(5deg);
  overflow: hidden;
  margin: 1%;
}

.name .img img {
  max-width: 100%;
  height: auto;
}

.navegacion .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  background: #ffc8dd;
  margin-top: 5%;
  margin-left: 23px;
  margin-right: 23px;
  padding: 15px 0;
  border-radius: 20px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px 5%;
}

nav ul {
  list-style: none;
  overflow: hidden;
  padding: 0;
}

nav ul li {
  display: inline-block;
  padding: 0px 20px;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

nav ul li a {
  text-transform: uppercase;
  display: block;
  padding: 10px;
  color: #472d30;
  text-decoration: none;
}

nav ul li:hover {
  color: whitesmoke;
  background: #c9939d;
}

.logo img {
  max-width: 150px;
  height: auto;
}

.que-encuentras {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.que-encuentras .info {
  flex: 1;
  padding: 15px;
  text-align: center;
  width: unset;
}

.que-encuentras .tituloSeccion {
  font-size: 24px;
  margin-bottom: 10px;
}

.que-encuentras .infoInfo {
  font-size: 16px;
  line-height: 1.5;
}

.imagen-presentacion {
  flex: 1;
  text-align: center;
  padding: 10px;
}

.imagen-presentacion img {
  box-sizing: border-box;
  padding: 20px;
  background: #a2d2ff;
  max-width: 100%;
  height: auto;
  border-radius: 100%;
}

.acerca-de-mi {
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

.imagen-acerca {
  margin: 2%;
  text-align: center;
  flex: 1;
}

.imagen-acerca img {
  max-width: 500px;
  height: auto;
}

.info {
  width: unset;
  height: auto;
  background: #ffc8dd;
  margin: 2%;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
}

.info .tituloSeccion {
  color: #472d30;
  font-family: "Pixelify Sans", cursive;
  font-size: xx-large;
  text-align: center;
  font-weight: bolder;
  border-bottom: 2px #472d30 dashed;
}

.info .tituloInfo {
  color: #472d30;
  font-family: "Scope One", serif;
  font-weight: bolder;
  font-size: large;
  display: inline;
  margin-right: 10px;
}

.info .infoInfo {
  color: #723d46;
  font-family: "Scope One", serif;
  font-weight: normal;
  font-size: large;
  display: inline;
}

.info span {
  display: inline-block;
  width: auto;
  height: auto;
  padding-left: 1%;
  padding-right: 1%;
  margin-bottom: 20px;
  background: #a2d2ff;
  color: #472d30;
  font-family: "Pixelify Sans", cursive;
  border-radius: 5px;
}

.cat-block {
  margin-bottom: 14px;
  align-items: center;
}

.cat-header {
  background-color: #c9939d;
  border-radius: 8px;
  padding: 6px 14px;
  font-size: 13px;
  font-weight: 500;
  color: #880e4f;
  margin-bottom: 8px;
  font-weight: bolder;
  font-family: "Scope One", serif;
}

.cat-items {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  padding: 0 4px;
    justify-content: center;

}

.cat-items span {
  font-size: 13px;
  color: #880e4f;
  background: #fce4ec;
  border-radius: 6px;
  padding: 4px 12px;
}

.aptitudes {
  background: #bde0fe;
  padding-bottom: 30px;
}

.aptitudes .contenedor .titulo {
  text-align: center;
  font-family: "Pixelify Sans", cursive;
  font-size: xx-large;
  background: #a2d2ff;
  padding-top: 30px;
  font-weight: bolder;
  padding-bottom: 30px;
}

.aptitud-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.aptitud-ind {
  width: 50%;
  text-align: center;
}

.habilidad-icon{
  font-size: 4vw;
  color: #c9939d;
}

aptitud-ind h3 {
  font-family: "Scope One", serif;
  margin: 10px 0;
}

.aptitud-ind p{
    font-family: "Scope One", serif;
  color: #472d30;
  padding: 3vw;
}

.contenedor-areas {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.columna {
  width: 50%;
  box-sizing: border-box;
  padding: 20px;
}

.bloque {
  padding: 20px;
  background: #a2d2ff;
  border: 1px solid #ccc;
  text-align: center;
}

.bloque img {
  max-width: 100%;
  height: auto;
  max-height: 180px;
}

.bloque h3 {
  color: #472d30;
  font-family: "Pixelify Sans", cursive;
  font-size: 30px;
  margin-bottom: 15px;
}

.bloque p {
  font-family: "Scope One", serif;
  font-size: 16px;
  margin: 20px;
}

.proyectos {
  margin: 40px;
  border-radius: 20px;
  background-color: #bde0fe;
  padding: 20px;
  border: 1px solid #bde0fe;
}

.titulo {
  color: #472d30;
  text-align: center;
  font-family: "Pixelify Sans", cursive;
  font-size: xx-large;
  margin-bottom: 20px;
}

.proyecto-ind {
  display: flex;
  flex: 1;
  align-items: center;
  margin: 30px;
}

.imagen-proyecto {
  flex: 1;
  text-align: center;
}

.imagen-proyecto img {
  max-width: 100%;
  height: auto;
  display: block;
}

.imagen-proyecto .video-arbol {
  max-width: 100%;
  height: auto;
  display: block;
}

.contenido-textos {
  flex: 1;
  padding: 20px;
}

.contenido-textos h3 {
  color: #472d30;
  font-family: "Pixelify Sans", cursive;
  font-size: 18px;
  margin-bottom: 15px;
}

.contenido-textos p {
  font-family: "Scope One", serif;
  color: #472d30;
  font-size: 16px;
  margin: 0;
  margin-top: 10px;
}

footer {
  background-color: #a691a8;
  padding: 60px 0 30px 0;
  margin: auto;
  overflow: hidden;
  color: black;
}

.contenedor-footer {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 50px;
  border-bottom: 1px solid #cdb4db;
}

.content-foo {
  text-align: center;
}

.logo {
  text-align: center;
  background: #cdb4db;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  padding: 10px;
  margin: auto;
}

.content-foo h4 {
  color: whitesmoke;
  border-bottom: 3px solid #cdb4db;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.content-foo h5 {
  color: #472d30;
}

.content-foo p {
  color: whitesmoke;
}

.titulo-final {
  text-align: center;
  font-size: 24px;
  margin: 20px 0 0 0;
  color: #edcbf0;
}

@media screen and (max-width: 768px) {
  header {
    font-size: medium;
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin-top: 2%;
  }

  .menu li {
    display: block;
    margin: 5px 0;
  }
}

@media screen and (max-width: 768px) {
  .que-encuentras {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .imagen-presentacion img {
    max-width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .imagen-acerca img {
    max-width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .navegacion {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .columna {
    width: 90%;
    margin: auto;
  }
}

@media screen and (max-width: 768px) {
  .proyectos{
    margin: 20px;
  }
  .contenido-textos{
    padding: 5px;
  }
  .proyecto-ind {
    flex-direction: column;
    text-align: center;
    margin: 10px;
  }

  .imagen-proyecto {
    margin: 10px 0;
  }
}

@media screen and (max-width: 768px) {
  .acerca-de-mi {
    flex-direction: column;
  }

  .info {
    margin: 10px;
    padding: 10px;
  }
}

@media screen and (max-width: 768px) {
  .aptitud-cont {
    flex-direction: column;
  }

  .aptitud-ind {
    width: 100%;
    margin: 10px 0;
  }
}

@media screen and (max-width: 768px) {
  .contacto .info {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .contenedor-footer {
    flex-direction: column;
  }

  .content-foo {
    width: 100%;
    margin: 10px 0;
  }
}
